<div class="col-md-6 card bg-white">
  {{#if artists.length}}
  {{#each albums as |album| }}
  <div class="row mb-4 artist">
    <div class="col-md-5">
      <h2>
        <a href="/artist/{{album.id}}">{{album.title}}</a>
      </h2>
      <p>Release Date: {{album.releaseDate}}</p>
    </div>
  </div>
  {{/each}}
   {{else}}
    <p>No artists found for the given search criteria.</p>
  {{/if}}
</div>