<!-- CHART DATA -->
<div class="col-md-3 card bg-dark">
    <h2>1994 Billboard Top 10</h2>
    <ul class="chart-list" id="chart-list">

    </ul>
</div>
<script src="public/js/chart-script.js"></script>