{{!-- CHART DATA --}}
<div class="col-md-3 card bg-dark">
    <h2>1994 Billboard Top 10</h2>
    <ul class="chart-list">
        <li class="chart-item" id="chart-0"></li>
        <li class="chart-item" id="chart-1"></li>
        <li class="chart-item" id="chart-2"></li>
        <li class="chart-item" id="chart-3"></li>
        <li class="chart-item" id="chart-4"></li>
        <li class="chart-item" id="chart-5"></li>
        <li class="chart-item" id="chart-6"></li>
        <li class="chart-item" id="chart-7"></li>
        <li class="chart-item" id="chart-8"></li>
        <li class="chart-item" id="chart-9"></li>
    </ul>
</div>
<script src="/js/chart-script.js"></script>