<!-- SEARCH BAR -->
<div class="card bg-dark search-card">
    <h3 class="header">Ready?</h3>
    <h4 class="d-flex justify-content-end">Search</h4>
    <form class="form search-form ">
        <div class="form-group d-flex justify-content-end">
            <label for="username-signup">Artist: </label>
            <input class="form-input" type="text" id="artist-search" />
        </div>
        <div class="form-group d-flex justify-content-end">
            <label for="email-signup">Song: </label>
            <input class="form-input" type="text" id="song-search" />
        </div>
        <div class="form-group d-flex justify-content-end">
            <label for="password-signup">Year: </label>
            <input class="form-input" type="number" id="year-search" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary d-flex justify-content-end" type="submit">Search</button>
        </div>
    </form>
</div>