<!-- SEARCH BAR -->
<div class="card bg-dark search-card">
    <h2 class="d-flex">Search for an artist or a Top 10 Chart</h2>
    <form class="form search-form ">
        <div class="form-group d-flex justify-content-end">
            <label class="p-1" for="username-signup">Artist: </label>
            <input class="form-input p-1 ms-3 me-5" type="text" id="artist-search" />
        </div>
        <div class="form-group d-flex justify-content-end">
            <label class="p-1" for="password-signup">Year: </label>
            <input class="form-input p-1 ms-4 me-5" type="text" id="year-search" />
        </div>
        <div class="form-group  align-content-center">
            <button class="btn btn-primary d-flex " type="submit">Search</button>
        </div>
    </form>
</div>