<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p></p>
  <p>Created by {{user.name}}</p>
  <p>
  </p>
  <p>
    <button class="btn btn-primary">Artist!</button>
  </p>
</div>