<div class="row">
  <div class="col-auto">
    <h2 class="user-profile">Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3 class="user-profile">User Profile</h3>

   
      <div class="user-profile">
       {{email}}
      </div>
   
  </div>
<div class="col-md-8 card bg-dark">
    <h2>{{name}}'s Tunes</h2>
    <h4><a href="">Saved Artists</a></h4>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle mt-1 mb-5" type="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            Artists
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="/artist/Nirvana">Nirvana</a></li>
            <li class="dropdown-item"><a href="/artist/Nsync">N*Sync</a></li>
            <li class="dropdown-item"><a href="/artist/Gwar">Gwar</a></li>
        </ul>
    </div>
    <h4><a href="">Saved Songs</a></h4>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle mt-1 mb-5" type="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            Songs
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="/song/Jeremy">Jeremy</a></li>
            <li class="dropdown-item"><a href="/song/I%20want%20it%20that%20way">I want it that way</a></li>
            <li class="dropdown-item"><a href="/song/Butterfly">Butterfly</a></li>
        </ul>
    </div>
    <h4><a href="">Saved Top 10</a></h4>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle mt-1 mb-5" type="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            Charts
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="/year/1990">1990</a></li>
            <li class="dropdown-item"><a href="/year/1994">1994</a></li>
            <li class="dropdown-item"><a href="/year/1999">1999</a></li>
        </ul>
    </div>
</div>

<script src="./js/profile.js"></script>